/* Global Configs and reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;

  font-style: italic;
  font-size: 16px;

  /* Color palette */
  --color-primary: #eebec6;
  --color-secondary: #f5c6c8;
}

body {
  background-color: var(--color-primary);
}

header {
  margin: 10px 0;
}

h1 {
  background-color: var(--color-secondary);
  text-align: center;
}

main {
  display: flex;
}

#settings-icon {
  font-size: 2em;
  z-index: 4;
  cursor: pointer;
  margin: 12px 10px;
}

#settings-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: rgba(182, 182, 182, 0.5);
}

#settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92%;
  height: 92%;
  border-radius: 15px;
}
